
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>course configurations</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Time Optimizer Tool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto border-spacing">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<body>

    
    <div class="container-fluid">

        <h1 class="text-center">Here, we optimize the time for course preparation</h1>
        <div class = "row">
            <div class = "col-12 col-md-8 mx-auto">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                            <th>course parameter</th>
                            <th>optimization results</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in all_params %}
                            <tr>
                                <td> 
                                    semester name: {{ obj.semesterName }} <br><br>
                                    total hours: {{ obj.totalHours }}<br><br>
                                    optimization method: {{ obj.optMethod }}<br><br>
                                    lecturer name: {{ obj.lecturer }}<br><br>
                                    courses: <br>{{ obj.courses }}<br><br>

                                    <div class="text-left">
                                        <a href="{% url 'addCourseParameter' id=obj.id %}" class="btn-sm btn-primary">+ add a course </a> &nbsp;
                                        <a href="{% url 'optimizerWebService' optDataID=obj.id %}" class="btn-sm btn-success">optimize </a> &nbsp;
                                        <a href="{% url 'allCourseParameters' %}" class="btn-sm btn-danger">delete </a> &nbsp;
                                    </div>
                                </td>
                                <td >
                                {% if obj.opt_results.optimizationResults|length != 0 %}
                                    <div class = row>
                                        <div class="col-md-8">
                                            {% for k,v in obj.opt_results.optimizationResults.items %}
                                                <strong>{{k}}</strong> <br>
                                                {% for k1,v1 in v.items %}
                                                    {{k1}}: {{v1}}<br>

                                                {% endfor %}
                                                <hr>
                                            {% endfor %}


                                        </div>
                                        <div class=" text-left">
                                            that button
                                        </div>
                                    </div>
                                {% else %}
                                    No optimization results found
                                {% endif %}




                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>

    </div>

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>